@page
@{ Layout = null;}
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}


<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - SMSBreeze.Web</title>

	<environment include="Development">
		<link href="~/vendors/iconfonts/mdi/css/materialdesignicons.css" rel="stylesheet" />

		<link href="~/vendors/css/vendor.bundle.base.css" rel="stylesheet" />

		<link href="~/vendors/css/vendor.bundle.addons.css" rel="stylesheet" />

		<link href="~/css/style.css" rel="stylesheet" />


		@*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />*@
		@*<link rel="stylesheet" href="~/css/site.css" />*@
	</environment>
	<environment exclude="Development">
		<link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
			  asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
			  asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
		<link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
	</environment>
</head>
@*<h2>@ViewData["Title"]</h2>*@
@*<div class="row">
	<div class="col-md-4">
		<section>*@
<body>
	<div class="container-scroller">
		<div class="container-fluid page-body-wrapper full-page-wrapper auth-page">
			<div class="content-wrapper d-flex align-items-center auth register-bg-1 theme-one">
				<div class="row w-100">
					<div class="col-lg-4 mx-auto">
						<h2 class="text-center mb-4">Register</h2>
						<div class="auto-form-wrapper">
							<form asp-route-returnUrl="@Model.ReturnUrl" method="post">
								<h4>Create a new account.</h4>
								<hr />
								<div asp-validation-summary="All" class="text-danger"></div>
								<div class="form-group">
									<label asp-for="Input.Email"></label>
									<input asp-for="Input.Email" class="form-control" />
									<span asp-validation-for="Input.Email" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Input.Password"></label>
									<input asp-for="Input.Password" class="form-control" />
									<span asp-validation-for="Input.Password" class="text-danger"></span>
								</div>
								<div class="form-group">
									<label asp-for="Input.ConfirmPassword"></label>
									<input asp-for="Input.ConfirmPassword" class="form-control" />
									<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
								</div>
								<button type="submit" class="btn btn-default">Register</button>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>


					@section Scripts {
						<partial name="_ValidationScriptsPartial" />
					}
