@model SMSBreeze.Web.Models.ViewModel.GroupViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Group</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Group.GroupName" class="control-label"></label>
                <input asp-for="Group.GroupName" class="form-control" />
                <span asp-validation-for="Group.GroupName" class="text-danger"></span>
            </div>
            <div class="form-group" >
                <h4>Add Contacts Immediately</h4>
                @foreach (var item in Model.Contacts)
                {
                <p> @item.Name </p>
                <input type="checkbox" name="Contacts" value="@item.ID"/>
                }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

